{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta property="og:url" content="http://www.searchengines.com.br"/>
      <meta property="og:type" content="article" />
      <meta property="og:title" content="Utilizando as meta tags do Facebook."/>
      <meta property="og:description" content="Tutorial para demonstrar Search Engines"/>
      <meta property="og:image" content="" />
      <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static '../static/css/index.css' %}">
  </head>
  <body>
      <div id="main">
        <img id="logo" src="../static/images/python.png" alt="" height="100" width="100"></br>
        <form action="/search/?term_search" method="get">
          <input type="text" name="term_search" size="60">
          <input type="submit" value="Go">
        </form>
      <div>
        {% for page in pages %}
          <ul style = 'list-style-type: none;''>
            <li>
              <p>{{ page.title }}</p>
            </li>
          </ul>
        {% endfor %}
      </div>
  </body>
</html>
